<h1 class="text-center">Bienvenido a Up With a Click </h1>
<div class="circle-image">
    <%= image_tag 'homefoto.gif', alt: 'Imagen de inicio' %>
</div>
<p class="text-center">¡Encuentra nuevas oportunidades laborales en nuestra plataforma!</p>
