<h1>Mis Postulaciones</h1>

<% if @postulacion.present? %>
    <ul>
        <% @postulaciones.each do |postulacion| %>
        <li>
            <strong>Título:</strong> <%= postulacion.oferta.titulo %>
            <br>
            <strong>Descripción:</strong> <%= postulacion.oferta.descripcion %>
        </li>
        <% end %>
    </ul>
    <% else %>
    <p>No has realizado postulaciones.</p>
    <% end %>